body {
    text-align: center;
    display: flex;
    flex-direction: column;
}

img {
    max-width: 400px;
}


#result-el {
    margin-top: 30px;
}

#scoring-el {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

#final-score-el {
    margin-top: 30px;
}